@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('../fonts/GlacialIndifference-Bold.woff2');
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(203, 203, 203);
    box-shadow: inset 0 0 6px rgb(168, 168, 168);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
}

.giBold {
    font-family: 'Glacial Indifference Bold';
}
.wi-fc {
    width: fit-content;
}