{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row g-2 mt-3">
    {% for product in products %}
    <div class="product col rounded bg-light wi-fc text-center">
        <div class="description mx-auto" style="width:100px;">
            <img class="d-block mx-auto rounded-circle" src="{{ product.img }}" alt="product image" width="100">
        </div>
        <div class="text-center">
            <p class="d-inline giBold">{{ product.name }}</p>
            <p class="d-inline">€{{ product.price }}</p>
        </div>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-primary">Add to cart</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
    <h1>{{ request.user.username }}</h1>
    <section>
        {% for item in request.session.items %}
        <div class="product">
            <div class="description">
                <h3>{{ item.name }} - {{ item.quantity }}</h3>
                <hr />
                <div>
                    <h5>€{{ item.total }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="{% url 'create-checkout-session' %}">checkout</a>
    </section>