{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}
{% block content %}
<div class="row g-2 mt-3">
{% for product in products %}
<div class="product col rounded bg-light wi-fc text-center">
    <div class="description mx-auto" style="width:100px;">
        <img class="d-block mx-auto rounded-circle" src="{{ product.img }}" alt="product image" width="100">
    </div>
    <div class="text-center">
        <p class="d-inline giBold">{{ product.name }}</p>
        <p class="d-inline">€{{ product.price }}</p>
    </div>
    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-primary">Add to cart</a>
</div>
{% endfor %}
</div>
{% endblock %}
